<html>
  <%- include('./parts/head') %>

  <body>
    <%- include('./parts/header') %>

    <div class="container">
      <img class="background" src="/img/undrawdata.svg" />
    </div>

    <%- include('./parts/footer') %>
  </body>
</html>
