<%- include('./parts/starthtml') %>
<%- include('./parts/header') %>

<div class="container">
  <img class="background" src="/img/undrawdata.svg">
</div>

<%- include('./parts/footer') %>
<%- include('./parts/endhtml') %>