<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./parts/head') %>
  </head>
  <body>
    <%- include('./parts/header') %>
    <link rel="stylesheet" href="/stylesheets/cadastro.css" />
    
    <div class="container">
      <main>
        <h1>Cadastro</h1> 
        <form class="form-cadastro " action="/usuario/cadastrar" method="POST" enctype="multipart/form-data">
          <div class="form-row ">
            <div class="form-group col-md-12 ">
              <label for="nome">Nome</label>
              <input class="form-control" type="text" name="nome" id="nome">
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-6">
              <label for="email">E-mail</label>
              <input class="form-control" type="email" name="email" id="email">
            </div>
            <div class="form-group col-md-6">
              <label for="senha">Senha</label>
              <input class="form-control" type="password" name="senha" id="senha">
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-6">
              <label for="cpf">CPF</label>
              <input class="form-control" type="text" name="cpf" id="cpf">
            </div>
            <div class="form-group col-md-6">
              <label for="tel">Telefone</label>
              <input class="form-control" type="tel" name="tel" id="tel">
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-6">
              <label for="estado">Estado</label>
              <select class="form-control" name="estado" id="estado"></select>
            </div>
            <div class="form-group col-md-6">
              <label for="cidade">Cidade</label>
              <select class="form-control" name="cidade" id="cidade">
                <option value=null default>Selecione um estado</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group mt-1 col-md-8">
              <label for="foto">Foto:</label>
              <input type="file" name="foto" id="foto" >
            </div>
            <div class="form-group mt-4 col-md-4">
              <button type="submit"  class="btn btn-dark">Enviar</button>
            </div>
          </div>
        </form>
      </main>
    </div>
    <script src="/js/localidadesApi.js"></script>
  </body>
</html>

