<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./parts/head') %>
  </head>
  <body>
    <%- include('./parts/header') %>
    <link rel="stylesheet" href="/stylesheets/cadastro.css" />
    <main>
      <h1>Cadastro</h1>
      <form action="/usuario/cadastrar" method="POST" enctype="multipart/form-data">
        <div>
          <label for="nome">nome</label>
          <input type="text" name="nome" id="nome" />
        </div>

        <div>
          <label for="email">e-mail</label>
          <input type="email" name="email" id="email" />
        </div>

        <div>
          <label for="senha">senha</label>
          <input type="password" name="senha" id="senha" />
        </div>

        <div>
          <label for="cpf">CPF</label>
          <input type="text" name="cpf" id="cpf" />
        </div>

        <div>
          <label for="tel">telefone</label>
          <input type="tel" name="tel" id="tel" />
        </div>

        <div>
          <label for="cidade">cidade</label>
          <input type="text" name="cidade" id="" />
        </div>

        <div>
          <label for="estado">estado</label>
          <input type="text" name="estado" id="" />
        </div>

        <div>
          <input type="file" name="foto" id="foto">
        </div>

        <div>
          <input type="submit" value="enviar" />
        </div>
      </form>
    </main>
  </body>
</html>
