<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>getdev</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
  <body>
    <%- include('./parts/header') %>
    <main>
      <div class="container-fluid p-0">
        <div class="inner-top">

            <div class="container">
                <div class="row">
                        <section class="busca">
                            <div class="col-12 d-flex flex-wrap justify-content-center">
                                <h1>Encontre um Dev para o seu projeto</h1>
                                <p>Nosso sistema te ajuda a encontrar a melhor solução</p>
                            </div>

                            <div class="col-12 d-flex flex-wrap justify-content-center">
                                <input placeholder="O que você precisa?"/>
                                <button>Pesquisar</button>
                            </div>
                        </section>
                </div>
            </div>
        </div>
    </div>
    
   
    <div class="container-fluid p-0">
        <div class="inner-mid">
            <div class="container">
                <div class="row">
                    <div class="col-4 b-0 m-0 p-0 d-flex flex-wrap justify-content-right align-items-right">
                        <section class="devs">
                            <h2>Já são mais de 1 milhão de desenvolvedores prontos para te ajudar</h2>
                            <p>E você pode acompanhar as avaliações de cada um desses desenvolvedores para escolher o que melhor atende as suas necessidades</p>

                        </section>
                    </div>
                </div>
            </div>

        </div>

        
    </div>

    <div class="container-fluid p-0">
        <div class="inner-bot">
            <div class="container">
                <div class="row">
                    <div class="col-4 b-0 m-0 p-0 ml-auto d-flex flex-wrap justify-content-right align-items-right">
                        <section class="negocio">
                            <h2>Somos uma plataforma para unir desenvolvedores e clientes</h2>
                            <p>Não são apenas os clientes que se beneficiam da nossa plataforma, você, desenvolvedor, pode conseguir mais clientes com a gente!</p>

                        </section>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    </main>
    <%- include('./parts/footer') %>
  </body>
</html>
