<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>getdev</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/stylesheets/base.css" />
  </head>
  <body>
    <%- include('./parts/header') %>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <main>
      <div class="slogan">
        encontre o desenvolvedor freelancer ideal para seu projeto;
      </div>
      <div class="box">

        <a class="b-inside" href="">
          <img src="/images/bulb.svg" alt="" />
          <div class="legenda">
            <span class="get">procuro</span>
            <span>um desenvolvedor</span>
          </div>
        </a>

        <a class="b-inside" href="">
          <img src="/images/dev.svg" alt="" />
          <div class="legenda">
            <span class="dev">sou</span>
            <span>um desenvolvedor</span>
          </div>
        </a>
        
      </div>
    </main>
    <%- include('./parts/footer') %>
  </body>
</html>
