<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela Logado</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/stylesheets/base.css" />
  </head>
  <body>
    <%- include('./parts/header-logado') %>
    <link rel="stylesheet" href="/stylesheets/logado.css" />
    <main>
      <section>
        <div class="conteudo">
          <div class="topo">
            <h1>Bem vindo, nome_dev</h1>
            <div class="controles">
              <a href="#">
                <i class="bi bi-arrow-left-circle"></i>
              </a>
              <a href="#">
                <i class="bi bi-arrow-right-circle"></i>
              </a>
              <a href="#">
                <i class="bi bi-x-circle"></i>
              </a>
            </div>
          </div>
          <div class="corpo">
            <div class="perfil">
              <div class="informacoes">
                <div class="img-perfil">
                  <a href="#">
                    <img src="/img/foto-dev.svg" alt="imagem perfil dev" />
                  </a>
                </div>
                <div class="categorias">
                  <p><i class="bi bi-tag"></i> informacao</p>
                  <p><i class="bi bi-geo-alt"></i> informacao</p>
                  <p><i class="bi bi-star"></i> informacao</p>
                </div>
              </div>
              <div class="resumo">
                <h2>Resumo</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  in eros eu risus aliquet ullamcorper vel auctor erat. Aenean
                  varius consectetur sapien, sed hendrerit sem rhoncus sit amet.
                  Aenean ut quam sagittis, laoreet orci id, hendrerit tellus.
                  Aliquam semper mauris vitae velit dignissim, et hendrerit
                  lectus accumsan. Fusce tincidunt, nisl ut tristique tincidunt,
                  massa dui dignissim enim, ac luctus eros sapien eget dolor.
                  Quisque in metus nec mi pulvinar sodales. Pellentesque
                  tristique enim eget tempor malesuada.
                </p>
              </div>
            </div>
            <div class="servicos">
              <h2>Serviços</h2>
              <div class="galeria">
                <div class="row">
                  <a href="#">
                    <img src="/img/fogo-servico.svg" alt="serviço" />
                  </a>
                  <a href="#">
                    <img src="/img/fogo-servico.svg" alt="serviço" />
                  </a>
                </div>
                <div class="row">
                  <a href="#">
                    <img src="/img/fogo-servico.svg" alt="serviço" />
                  </a>
                  <a href="#">
                    <img src="/img/fogo-servico.svg" alt="serviço" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./parts/footer') %>
  </body>
</html>
