<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./parts/head') %>
  </head>
  <body>
    <%- include('./parts/header') %>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <main>
      <h1>Login</h1>

      <form action="/logado" method="GET">
        <label for="login">e-mail</label>
        <input type="email" name="login" id="login" />
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" />
        <input type="submit" value="entrar" name="entrar" />

        <a href="#">Esqueci minha senha</a>
        <a href="#">Ainda não sou cadastrado</a>
      </form>
    </main>

  </body>
</html>
