<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./parts/head') %>
    <title>getdev - login</title>
  </head>
  <body>
    <%- include('./parts/header') %>

    <link rel="stylesheet" href="/stylesheets/login.css" />
      <div class="container">
        <main>
          <h1>Login</h1> 
          <form  action="/login" method="POST">
            <div class="form-row mt-5 ">
              <div class="form-group col-md-12">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" name="email" id="email">
              </div>
            </div>
            <div class="form-row ">
              <div class="form-group col-md-12">
                <label for="senha">Senha</label>
                <input class="form-control" type="password" name="senha" id="senha">
              </div>
            </div>
            <div class="button form-group mt-5 ">
              <span></span>
              <button type="submit"  class="btn btn-dark">Enviar</button>
            </div>
          </form>
        </main>
      </div>
  
    

  </body>
</html>
