<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>getdev</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/stylesheets/base.css" />
  </head>
  <body>
    <%- include('./parts/header') %>
    <link rel="stylesheet" href="/stylesheets/pesquisa.css">
    <main>
      <div class="pesquisa">
        <input class="principal" type="text" placeholder="Faça uma busca" />
        <input class="filtro" type="text" placeholder="Filtre resultados" />
      </div>
      <h1>Resultados encontrados</h1>
      <div class="cards">
        <section>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
          <article>
            <img class='avatarcard' src="/img/groupavatarcard.png">
            <img class='iconezinhos'src="/img/icones.png">
            <div class='barra'></div>
            <img class='icons' src='/img/iconscategoriatransp.png'>
            <h5>NOME DO PRESTADOR</h5>
            <ul>
              <li>Categoria</li>
              <li>Preço médio</li>
              <li>Avaliações</li>
              <li>Localização</li>
            </ul>
          </article>
        </section>
      </div>
    </main>
    <%- include('./parts/footer') %>
  </body>
</html>
