<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('./parts/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/resultado-busca.css">
  <title>getdev - pesquisa</title>
</head>
<body>
  <%- include('./parts/header') %>
  <div class="profile-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class = "img1"><img src="public/img/back_dev.jpg" alt=""></div>
                    <div class="img2"><img src="public/img/profile.png" alt=""></div>
                    <div class="main-text">
                        <h2>Primeira Pessoa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam excepturi fugit maxime porro quas voluptate dignissimos reprehenderit obcaecati voluptatum, explicabo natus ad in fugiat vel velit libero ducimus eius eum?</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class = "img1"><img src="public/img/back_dev.jpg" alt=""></div>
                    <div class="img2"><img src="public/img/profile.png" alt=""></div>
                    <div class="main-text">
                        <h2>Segunda Pessoa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam excepturi fugit maxime porro quas voluptate dignissimos reprehenderit obcaecati voluptatum, explicabo natus ad in fugiat vel velit libero ducimus eius eum?</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class = "img1"><img src="public/img/back_dev.jpg" alt=""></div>
                    <div class="img2"><img src="public/img/profile.png" alt=""></div>
                    <div class="main-text">
                        <h2>Terceira Pessoa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam excepturi fugit maxime porro quas voluptate dignissimos reprehenderit obcaecati voluptatum, explicabo natus ad in fugiat vel velit libero ducimus eius eum?</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class = "img1"><img src="public/img/back_dev.jpg" alt=""></div>
                    <div class="img2"><img src="public/img/profile.png" alt=""></div>
                    <div class="main-text">
                        <h2>Quarta Pessoa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam excepturi fugit maxime porro quas voluptate dignissimos reprehenderit obcaecati voluptatum, explicabo natus ad in fugiat vel velit libero ducimus eius eum?</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class = "img1"><img src="public/img/back_dev.jpg" alt=""></div>
                    <div class="img2"><img src="public/img/profile.png" alt=""></div>
                    <div class="main-text">
                        <h2>Quinta Pessoa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam excepturi fugit maxime porro quas voluptate dignissimos reprehenderit obcaecati voluptatum, explicabo natus ad in fugiat vel velit libero ducimus eius eum?</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class = "img1"><img src="public/img/back_dev.jpg" alt=""></div>
                    <div class="img2"><img src="public/img/profile.png" alt=""></div>
                    <div class="main-text">
                        <h2>Sexta Pessoa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam excepturi fugit maxime porro quas voluptate dignissimos reprehenderit obcaecati voluptatum, explicabo natus ad in fugiat vel velit libero ducimus eius eum?</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>