<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela Resumo do Serviço </title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/stylesheets/base.css" />
  </head>
  <body>
  <%- include('./parts/header-logado') %>
    <link rel="stylesheet" href="/stylesheets/resumo.css" />
    <main>
      <div class="box-gray">
        <div class="controles">
          <a href="#">
            <i class="bi bi-arrow-left-circle"></i>
          </a>
          <a href="#">
            <i class="bi bi-arrow-right-circle"></i>
          </a>
          <a href="#">
            <i class="bi bi-x-circle"></i>
          </a>
        </div>
        <section class="bg">
          <ul class="topo">
          <li>
            <h4>RESUMO DO SERVIÇO</h4>
      <div class="resumo-servico">
        <img src="/img/fogo-servico.svg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam inventore nihil
                temporibus sequi beatae reprehenderit! Impedit odio hic tempora mollitia quod
                laborum voluptas enim inventore sint? Odio odit cumque suscipit. Lorem ipsum,
                dolor sit amet consectetur adipisicing elit. Eligendi assumenda quam architecto,
                magnam aliquam, ea excepturi atque fuga repellat esse, corporis cum repudiandae omnis
                vitae animi enim ratione natus delectus. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Eligendi saepe nostrum iusto numquam placeat ad ipsum delectus
                impedit blanditiis, incidunt labore? Doloribus iure quo perferendis maxime
                distinctio dicta rerum aliquid?</p>
          </div>
          </li>
        </ul>
        </section>
          <br>
        <div class="row">
          <img src="img/categoria.svg" alt="icon-categoria">
              <img src="/img/localização.svg" alt="icon-localizacao">
                  <img src="/img/valor.svg" alt="icon-valor">
                      <img src="img/avaliacao.svg" alt="icon-avaliacao">
          </div>
          <br>
          <br>
          <div class="contratar">
            <a href="#">
            <img src="/img/contratar.svg" alt="contratar">
            </a>
          </div>
    </main>
  <%- include('./parts/footer') %>
</body>
</html>