<html>
  <%- include('../parts/head') %>

  <body>
    <%- include('../parts/header') %>

    <div class="container">
      <div class="infredes">
        <form action="/admin/redessociais/inserir" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" />
            <button class="btnAdicionarLinguagem" type='submit' >Enviar</button>
        </form>
      </div>
    </div>

    <%- include('../parts/footer') %>
</body>

</html>
