<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../parts/head')%>
  <title>Document</title>
</head>
<body>
  <%- include('../parts/header-logado')%>
  <h1>PORTIFOLIO ALHEIO</h1>
  <h2>AREA LOGADA</h2>
  <h2><%= username%></h2>
</body>
</html>