@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.perfilbusca {
  height: 100%;
  width: 100px;
}

.containerpesquisa {
  display: flex;
  width: 80vw;
  min-height: 100px;
  position: relative;
  background-color: #dee6dc;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.foto {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100px;
}

.foto img {
  display: flex;
  width: 150px;
}

.foto {
  margin-right: 50px;
}

main {
  min-height: calc(100vh - 348px);
}

.linguagens {
  padding: 5px;
  background-color: #ACDA98;
}

.listacompetencias li {
  text-decoration: none;
  list-style-position: inside;
}

.titulo {
  font-weight: bold;
  font-size: 1rem;
}

.titulocp {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.desc {
  font-size: 0.9rem;
}

.informacoes {
  margin-left: 20px;
}
