footer {
  width: 100%;
  display: flex;
  background-color: #2c2c32;
  color: white;
  margin-top: auto;
}

.suphr {
  color: white;
  width: 80%;
}

.infhr {
  color: white;
  width: 60%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #acda98;
  text-decoration: none;
}

/*.conteudo-footer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.conteudo-footer {
  text-align: center;
  height: 100%;
  padding: 30px;
}*/

p {
  font-size: 1.2em;
}

hr {
  background: #fff;
  margin: auto;
  opacity: 50%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.getdev {
  margin: auto;
  margin-bottom: 3%;
}

.redes-sociais img {
  width: 30px;
  margin: 10px 12px;
}
