footer {
  width: 100%;
  height: 110px;
  background-color: black;
  color: #b2b2b2;
  margin-top:auto;
}

footer a {
  text-decoration: none;
}

footer a:hover{
  color: white;
}

footer .getdev {
  font-size: 14px;
  height: 100%;

  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}

footer .conteudo {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

footer .redes-sociais img {
  width: 30px;
  margin-left: 20px;
  color: #b2b2b2;
}

footer .institucional {

  display: flex;
  flex-direction: column;
  align-items: center;
}
