header {
  width: 100%;
  background-color: #191B22;
  height: 100px;
  display:flex;
  justify-content: center;
}

header .conteudo {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav{
  display:flex;
}

.imglogo {
  width: 170px;
}

header nav a {
  color: #b2b2b2;
  margin-left:40px;
  font-weight: 600;
  font-size: 18px;
}

header nav a:hover{
  color: white;
}


