section {
  width: 100%;
  /* border-bottom: 1px solid #3c3c3c;
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25); */
}

.conteudo-main {
  width: 80%;
  margin: 0 auto;

  color: lightgray;

  text-align: center;

  padding-top: 20px;
  padding-bottom: 40px;
}

.conteudo-main h1 {
  font-size: 2.5em;
}

.conteudo-main p {
  font-size: 1.8em;
  margin-bottom: 40px;
}

.conteudo-main h2 {
  font-size: 2em;
}

.banners img {
  margin: 0 30px;
}

#bn1 {
  width: 210px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-card {
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.card {
  background-color: #67a3ab;
  border: 6px solid #999999;
  border-radius: 60px;
  padding: 10px;

  max-width: 200px;
  min-height: 250px;
}

.card p {
  font-size: 1.1em;
  background-color: #c4c4c4;
  padding: 10px;
  border-radius: 50px;
  margin-top: 10px;
}

.card-img {
  max-width: 167px;
  min-width: 167px;
}

