h1 {
  color: white;
  font-weight: bold;
  font-size: 3em;
  flex-wrap: wrap;
}

h3 {
  color: white;
  font-weight: lighter;
  font-size: 1.9em;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

p {
  color: white;
  font-weight: lighter;
  font-size: 2em;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  flex-wrap: wrap;
  height: 0px;
}

.inner-top {
  background-image: url(/IMAGES/botimg.svg);
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.bottom-img{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.inner-mid {
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.inner-bot {
  background-image: url(/IMAGES/botimginv.svg);
  height: 130vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #acda98;
  width: 30vw;
}
.search{
  margin-top:20px;
}

.busca {
  width: 100%;
}

button {
  padding: 5px;
  background-color: #acda98;
  color: dimgray;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  /* margin-top: 20px; */
}

/* .busca {
  
} */

.devs {
  padding-top: 10vh;
}

/* .negocio {
  
} */

.devs h2 {
  color: black;
  font-weight: bold;
  font-size: 45px;
}

.devs p {
  color: grey;
  font-weight: lighter;
  font-size: 30px;
}

.negocio h2 {
  color: white;
  font-weight: bold;
  font-size: 45px;
}

.negocio p {
  color: white;
  font-weight: lighter;
  font-size: 30px;
}

.pesquisa {
  display: flex;
}

.filtro {
  margin-right: 10px;
  border-radius: 5px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px){
  .busca h1{
    font-size:25px;
    
  }
  .busca h3{
    font-size: 15px;

  }
  .devs h2 {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  .devs p {
    color: grey;
    font-weight: lighter;
    font-size: 15px;
  }
  
  .negocio h2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
  .negocio p {
    color: white;
    font-weight: lighter;
    font-size: 15px;
  }
 }


/* Small devices (tablets, 768px and up) */
@media(min-width: @screen-sm-min) { 
  .busca h1{
    font-size:30px;
    
  }
  .busca h3{
    font-size: 20px;

  }
  .devs h2 {
    color: black;
    font-weight: bold;
    font-size: 25px;
  }
  
  .devs p {
    color: grey;
    font-weight: lighter;
    font-size: 10px;
  }
  
  .negocio h2 {
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
  
  .negocio p {
    color: white;
    font-weight: lighter;
    font-size: 10px;
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
  .busca h1{
    font-size:40px;
    
  }
  .busca h3{
    font-size: 30px;

  }
  .devs h2 {
    color: black;
    font-weight: bold;
    font-size: 22px;
  }
  
  .devs p {
    color: grey;
    font-weight: lighter;
    font-size: 15px;
  }
  
  .negocio h2 {
    color: white;
    font-weight: bold;
    font-size: 22px;
  }
  
  .negocio p {
    color: white;
    font-weight: lighter;
    font-size: 15px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
  .busca h1{
    font-size:50px;
    
  }
  .busca h3{
    font-size: 40px;

  }
  .devs h2 {
    color: black;
    font-weight: bold;
    font-size: 45px;
  }
  
  .devs p {
    color: grey;
    font-weight: lighter;
    font-size: 30px;
  }
  
  .negocio h2 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  
  .negocio p {
    color: white;
    font-weight: lighter;
    font-size: 30px;
  }
}