main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.slogan {
  display: flex;
  font-size: 16px;
  font-family: "Courier Prime", monospace;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  font-weight: 400;
  font-style: italic;
}

.box {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px;
}

.b-inside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.b-inside img {
  height: 170px;
}

.legenda {
  margin-top: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get {
  color: #a36bff;
  font-weight: 600;
}

.dev {
  color: #45adce;
  font-weight: 600;
}
