main {
  padding-top: 190px;
  width: 100%;
  height: 85vh;
}

section {
  width: 80%;
  margin: 0 auto;
}

.conteudo {
  width: 80%;

  text-align: center;
  margin: 0 auto;
}

.topo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topo h1 {
  font-size: 2em;
  color: white;
}

.controles i {
  font-size: 2em;
  color: white;
}

.corpo {
  display: flex;
}

.perfil {
  width: 50%;
}

.informacoes {
  height: 50%;
  padding: 20px;
  display: flex;
}

.img-perfil {
  width: 50%;
}

.categorias {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.categorias p {
  color: white;
}

.resumo {
  padding: 20px;
}

.resumo h2 {
  color: white;
}

.resumo p {
  text-align: justify;

  width: 90%;
  margin: 0 auto;
  color: white;
}

.servicos {
  width: 50%;
  padding: 10px;
}

.servicos h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
}