main {
  padding-top: 5vh;
  padding-bottom: 10vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 9.5vw;
  align-items: center;
}

.campopesquisa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pesquisa {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  width: 40%;
  justify-content: center;
}

.busca {
  position: relative;
}

.iconsearch {
  position: absolute;
  right: 10px;
  top: 7px;
  border: none;
  padding: 5px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.dosearch {
  padding: 10px 100px 10px 10px;
  border: none;
  border-radius: 20px;
}

.filter {
  margin-left: 10px;
  position: relative;
  width: 140px;
  background: white;
  border-radius: 20px;
}

.filterclick {
  position: absolute;
  left: 13px;
  border: none;
  top: 12px;
  border-radius: 50%;
  background: white;
}

.filterresults {
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #555;
  margin-left: 10px;
  background: white;
  position: relative;
  left: 15px;
  white-space: nowrap;
}

.searchfound {
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2vw 2vw;
}

article {
  background-color: #34adbe;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  width: 180px;
}

h5 {
  color: white;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 12px;
}

ul {
  position: relative;
  right: 17px;
  padding-bottom: 10px;
}
li {
  font-size: 12px;
  padding-top: 5px;
  list-style: none;
}

.iconezinhos {
  width: 100%;
  border-bottom: 1px solid black;
}

.avatarcard {
  position: absolute;
  background-color: #34adbe;
  top: 45px;
  width: 60px;
}

.barra {
  background-color: #d8d8d8;
  width: 8px;
  height: 146px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.icons {
  left: 15px;
  position: absolute;
  width: 15px;
  height: 70px;
  top: 150px;
}
