main {
  display: flex;
  width: 100%;
  justify-content: center;
}

section {
  width: 100%;
  margin: 0 auto;
}

body {
  color: white;
}

p {
  text-align: justify;
  margin-left: 20px;
}

li {
  list-style-type: none;
}

.controles i {
  font-size: 2em;
  color: white;
}

.contratar {
  align-items: center;
}

.box-gray {
  display: flex;
  background-color: #414141;
  align-items: center;
  flex-direction: column;
  margin: 60px 0px;
  padding: 40px 60px;
  max-width: 900px;
}

h4 {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 30px;
  text-align: center;
}

li img {
  width: 20%;
  height: 20%;
  vertical-align: middle;
}

.resumo-servico {
  display: flex;
}
