<header>
  <span class="titulonav"><a href="/admin">Seja bem vindo, Lucas</a></span>
  <nav class="menu">
    <ul>
      <li><a href="/admin/usuarios">Usuários</a></li>
      <li><a href="/admin/redes">Redes sociais</a></li>
      <li><a href="/admin/linguagens">Linguagens</a></li>
      <li><a href="/admin/competencias">Competências</a></li>
    </ul>
  </nav>
</header>