<header>
  <span class="titulonav"><a href="/admin">Seja bem vindo, Lucas</a></span>
  <nav class="menu">
    <div class="hamburguer">
      <span class="hamburguer-menu-1"></span> 
      <span class="hamburguer-menu-2"></span> 
      <span class="hamburguer-menu-3"></span> 
    </div>
    <ul>
      <li><a href="/admin/usuarios">Usuários</a></li>
      <li><a href="/admin/redes">Redes sociais</a></li>
      <li><a href="/admin/linguagens">Linguagens</a></li>
      <li><a href="/admin/competencias">Competências</a></li>
    </ul>
  </nav>
  
  <div class="menuopen">
    <div class="menuout"></div>
    <div class="menuin">
      <p>Menu</p>
      <div class="hamburguer">
        <span class="hamburguer-menu-1"></span> 
        <span class="hamburguer-menu-2"></span> 
        <span class="hamburguer-menu-3"></span> 
      </div>
      <ul>
        <li><a href="/admin/usuarios">Usuários</a></li>
        <li><a href="/admin/redes">Redes sociais</a></li>
        <li><a href="/admin/linguagens">Linguagens</a></li>
        <li><a href="/admin/competencias">Competências</a></li>
      </ul>
    </div>
  </div>
</header>