<head>
<%- include('head.ejs') %>
<link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<footer>



  <div class="container">
    <hr width="80%">

    <div class="row">
        <div class="col-6">
         
            <h3 class="text-center">Institucional</h3>
            <a href="#">
              <p class="text-center">Sobre</p>
            </a>
            <a href="#">
              <p class="text-center">Contato</p>
            </a>
          
        </div>
      

        <div class="col-6" align="center">
          
            <h3 class="text-center">Redes Sociais</h3>

            <div class="redes-sociais">
              <a href="#">
                <img src="./img/instagram.svg" alt="Instagram" />
              </a>
              <a href="#">
                <img src="./img/facebook.svg" alt="Facebook" />
              </a>
              <a href="#">
                <img src="./img/linkedin.svg" alt="LinkedIn" />
              </a>
            </div>
         
      </div>
    </div>

  <hr width="60%">
    

    <div class="row">
      <div class="getdev">
        <div class="col-12">
          
            <h3 class="text-center">GETDEV,2020</h3>
          
        </div>
      </div>
    </div>
    
  </div>

</footer>