<link rel="stylesheet" href="/stylesheets/footer.css" />

<footer>
  <div class="container">
    <hr width="80%" />

    <div class="row">
      <div class="col-6">
        <a href="#">
          <p class="text-center">Sobre</p>
        </a>
        <a href="#">
          <p class="text-center">Contato</p>
        </a>
      </div>

      <div class="col-6" align="center">
        <div class="redes-sociais">
          <a href="#">
<<<<<<< HEAD
            <img src="/img/instagram.svg" alt="Instagram" />
          </a>
          <a href="#">
            <img src="/img/facebook.svg" alt="Facebook" />
          </a>
          <a href="#">
            <img src="/img/linkedin.svg" alt="LinkedIn" />
=======
            <img src="img/insta.svg" alt="Instagram" />
          </a>
          <a href="#">
            <img src="img/facebook.svg" alt="Facebook" />
          </a>
          <a href="#">
            <img src="img/linkedin.svg" alt="LinkedIn" />
>>>>>>> c40d8750e19f759966ca02d98a1f937d08f0c8b9
          </a>
        </div>
      </div>
    </div>

    <hr width="60%" />

    <div class="row">
      <div class="getdev">
        <div class="col-12">
          <p class="text-center">getdev, 2020</p>
        </div>
      </div>
    </div>
  </div>
</footer>
