<link rel="stylesheet" href="/stylesheets/footer.css" />
<footer>
  <div class="conteudo">
    <div class="institucional">
      <span id="inst">Institucional</span>
      <a href="#"> Sobre </a>
      <a href="#"> Contato </a>
    </div>

    <span class="nome-empresa">getdev - 2021</span>

    <div class="redes-sociais">
      <a href="#">
        <img src="./img/instagram.svg" alt="rede social" />
      </a>
      <a href="#">
        <img src="./img/facebook.svg" alt="rede social" />
      </a>
      <a href="#">
        <img src="./img/linkedin.svg" alt="rede social" />
      </a>
    </div>
  </div>
</footer>
