<link rel="stylesheet" href="/stylesheets/footer.css">
<footer>
  <div class="conteudos-footer">
    <div class="conteudo-footer">
      <h3>Institucional</h3>
      <a href="#">
        <p>Sobre</p>
      </a>
      <a href="#">
        <p>Contato</p>
      </a>
    </div>
    <div class="conteudo-footer nome-empresa">
      <h3>getdev, 2020</h3>
    </div>
    <div class="conteudo-footer">
      <h3>redes sociais</h3>
      <div class="redes-sociais">
        <a href="#">
          <img src="./img/instagram.svg" alt="rede social" />
        </a>
        <a href="#">
          <img src="./img/facebook.svg" alt="rede social" />
        </a>
        <a href="#">
          <img src="./img/linkedin.svg" alt="rede social" />
        </a>
      </div>
    </div>
  </div>
</footer>