<link rel="stylesheet" href="/stylesheets/footer.css" />
<footer>
  <div class="conteudo">
    <div class="institucional">
      <a href="#"> Sobre </a>
      <a href="#"> Contato </a>
    </div>

    <div class="getdev">
      <span>getdev, 2020</span>
    </div>

    <div>
      <div class="redes-sociais">
        <a href="#">
          <img src="./img/instagram.svg" alt="rede social" />
        </a>
        <a href="#">
          <img src="./img/facebook.svg" alt="rede social" />
        </a>
        <a href="#">
          <img src="./img/linkedin.svg" alt="rede social" />
        </a>
      </div>
    </div>
  </div>
</footer>
