<link rel="stylesheet" href="/stylesheets/header.css" />
<header>
  <div class="conteudo">
    <div class="logo">
      <a href="/">
        <img class="imglogo" src="/img/logo.svg" alt="logo" />
      </a>
    </div>
    <nav>
      <a href="#"><%= usuario.nome %></a>
      <a href="/logout"> logout </a>
    </nav>
  </div>
</header>
