<link rel="stylesheet" href="/stylesheets/header.css">
<header>
  <div class="conteudo">
    <div class="logo">
      <a href="#">
        <img src="/img/logo.svg" alt="logo" />
      </a>
    </div>
    <nav>
      <a href="/">
        <div class="btn">
          <p>logout</p>
          <span><i class="bi bi-person"></i></span>
        </div>
      </a>
    </nav>
  </div>
</header>