<link rel="stylesheet" href="/stylesheets/header.css" />
<header>
  <div class="conteudo">
    <div class="logo">
      <a href="/">
        <img class="imglogo" src="/img/logo.svg" alt="logo" />
      </a>
    </div>
    <nav>
      <span id='btnShowMenu'>
        Olá, <%= usuario.nome %>!
        <div class="menulogado">
          <ul>
            <li><a href="/perfil/">Mostrar perfil</a></li>
            <li><a href="/perfil/editar">Editar perfil</a></li>
          </ul>
        </div>
      </span>
      <a id="logout" href="/logout"> logout </a>
    </nav>
    
  </div>
</header>
<script>
  const menuLogado = document.querySelector('.menulogado');
  const btnShowMenu = document.querySelector('#btnShowMenu');

  btnShowMenu.addEventListener('click', () => {
    menuLogado.classList.toggle('active')
  })
</script>