<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../parts/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css" />
    <title><%= perfil.nome %> - perfil</title>
  </head>
  <body>
    <%- include('../parts/header-logado') %>
    <main>
      <form class="formPerfil" action="/perfil/editar?_method=PUT" method="POST" enctype="multipart/form-data">
        <h1 id="titulo"></h1>

        <div class="fotoPerfil">
          <img id="foto-perfil" src="" alt="foto de perfil" />
        </div>

        <div>
          <label for="resumo"></label>
          <br />
          <textarea name="resumo" id="resumo" cols="100" rows="5"></textarea>
        </div>

        <div class="curriculoPerfil">          
          <label for="curriculo">Upload do Curriculum Vitae:</label>
          <input type="file" name="curriculo" id="curriculo" />
        </div>

        <div class="areaInputs">
          <b>Experiência profissional:</b>
          <div id="div-exp"></div>
          <input type="button" id="add-exp" value="Adicionar" />
        </div>

        <br />

        <div class="areaInputs">
          <b>Formação:</b>
          <div id="div-formacao"></div>
          <input type="button" id="add-formacao" value="Adicionar" />
        </div>

        <br />

        <div class="areaInputs">
          <b>Competências: </b>
          <ul id="ul-competencias"></ul>
          <input type="button" value="Adicionar" id="add-competencia" />
        </div>

        <br />

        <div class="areaInputs">
          <b>Linguagens que domina:</b>
          <ul id="ul-linguagens"></ul>
          <input type="button" value="Adicionar" id="add-linguagem" />
        </div>
        <br />

        <div class="areaInputs">
          <b>Repositório:</b>
          <div>
            <input type="text" name="repositorio" id="repositorio" />
          </div>
        </div>

        <br />

        <div class="areaInputs">
          <b>Redes sociais:</b>
          <ul id="ul-redes"></ul>
          <input type="button" value="Adicionar" id="add-redes" />
        </div>

        <br />

        <input type="submit" value="Atualizar" />
      </form>
      <div>
        <a href="/perfil/editar/portifolio"> <b>Editar portifolio</b></a>
      </div>
    </main>
    <script src="/js/paginaEditar.js"></script>
    <%- include('../parts/footer') %>
  </body>
</html>
