<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('../parts/head') %>
    <link rel="stylesheet" href="../stylesheets/home.css" />
  </head>
  <body>
    <%- include('../parts/header-logado') %>

    <%- include('../index') %>

    <%- include('../parts/footer.ejs') %>
  </body>
</html>
